# Python Libraries

## 1. Pandas

In [26]:
import pandas as pd
print(pd.__version__)

1.5.3

In [25]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [24]:
import pandas as pd
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [32]:
import pandas as pd
dataset = {
    'cars': ['Tesla', 'Lamborghini', 'Porshe', 'Ferrari'],
    'year_of_make': ['2023', '2022', '2019', '2020']
}
df = pd.DataFrame(dataset)
df
# df['cars'][0]
# print(f"First index item: {df['cars'][0]}")

          cars year_of_make
0        Tesla         2023
1  Lamborghini         2022
2       Porshe         2019
3      Ferrari         2020

Using Series

In [36]:
import pandas as pd
dataset = {
    'cars': ['Tesla', 'Lamborghini', 'Porshe', 'Ferrari'],
    'year_of_make': ['2023', '2022', '2019', '2020']
}
s = pd.Series(dataset)
print(s)

cars            [Tesla, Lamborghini, Porshe, Ferrari]
year_of_make                 [2023, 2022, 2019, 2020]
dtype: object

In [37]:
import pandas as pd
dataset = ['Tesla', 'Lamborghini', 'Porshe', 'Ferrari']
s = pd.Series(dataset)
print(s)

0          Tesla
1    Lamborghini
2         Porshe
3        Ferrari
dtype: object

### Assignemt 1: Series with days & dates from a dictionary

In [108]:
import pandas as pd
dataset = {
    'days': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    'dates': ['01-07-2023', '02-07-2023', '03-07-2023', '04-07-2023', '05-07-2023', '06-07-2023', '07-07-2023']
}
s = pd.Series(dataset)
days = []
index = -1
for j in s['days']:
    index = index + 1
    for i in s['dates']:
        days.append(i)
    print(j,":", days[index])

Monday : 01-07-2023
Tuesday : 02-07-2023
Wednesday : 03-07-2023
Thursday : 04-07-2023
Friday : 05-07-2023
Saturday : 06-07-2023
Sunday : 07-07-2023

### Assignment 2: Create a series using only data from Monday and Tuesday

In [107]:
import pandas as pd
dataset = {
    'days': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    'dates': ['01-07-2023', '02-07-2023', '03-07-2023', '04-07-2023', '05-07-2023', '06-07-2023', '07-07-2023']
}
new_dataset = []
for day in dataset['days']:
    if day == 'Monday' or day == 'Tuesday':
        new_dataset.append(day)
s = pd.Series(new_dataset)
print(s)

0     Monday
1    Tuesday
dtype: object